* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.4;
}

#navbar {
	display: flex;
	justify-content: space-between;
	background-color: #000000ab;
	height: 7vh;
	position: sticky;
	top: 0;
	z-index: 20;
	color: #fff;
}

.company-logo {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.text-primary {
	color: #93cb52;
	margin-left: 5px;
    font-weight: 600;
}
.page-links {
	display: flex;
	list-style: none;
	flex-basis: 500px;
	/* justify-content: space-evenly; */
}
.page-link {
	flex-basis: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.page-link a {
	text-decoration: none;
	color: white;
	/* padding: 10px; */
}

.page-link:hover {
	background-color: #92cb52;
	border-radius: 5px;
	/* color: #000; */
}

.showcase {
	background: #000 url("../images/showcase.jpg") no-repeat center center/cover;
	height: 100vh;
	color: #fff;
	/* margin-top: -20px; */
	/* overflow: hidden; */
}

.showcase .showcase-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding: 0 2rem;
}

.overlay {
	position: absolute;
	width: 100%;
	top: 49px;
	left: 0px;
	background-color: #00000096;
}

.l-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
}

.lead {
	font-size: 1.3rem;
	margin-bottom: 2rem;
}

.btn {
	padding: 0.5rem 2rem;
	background-color: #93cb52;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: medium;
}

.btn:hover {
	cursor: pointer;
	background-color: #416913c9;
}

.bg-light {
	background-color: #d6d3d36c;
}

.py-1 {
	padding: 1rem;
}

.m-heading{
    text-align: center;
    font-size: 2rem;
    padding: 1.8rem 0rem;
}

.features-container {
	max-width: 1100px;
	margin: auto;
	display: flex;
    overflow: hidden;
}

.feature-container{
    text-align: center;
    padding: 1.2rem;
}

.mx-1{
    margin: 1rem 0rem;
}

.feature-container i {
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #92cb52;
    padding: 1.2rem;
}

.feature-container p{
    text-align: justify;
}
